* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', monospace, '微軟正黑體', sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: #5e6152;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo {
  padding-top: 2rem;
}

@media(min-width: 992px) {
  .container::before {
    content: '';
    width: 30%;
    height: 30%;
    border: 3px solid red;
    transform: rotate(45deg);
    position: absolute;
    left: -10%;
    bottom: 5%;
  }

  .container::after {
    content: '';
    width: 30%;
    height: 30%;
    border: 3px solid red;
    transform: rotate(45deg);
    position: fixed;
    top: 5%;
    right: -10%;
  }
}
